Visa_Automation_Workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e83969be-d583-41ef-bfa9-7da5f5bd24aa",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        256
      ],
      "id": "d7f983d4-888b-4c08-99c6-70fb4bebeed0",
      "name": "Webhook",
      "webhookId": "e83969be-d583-41ef-bfa9-7da5f5bd24aa"
    },
    {
      "parameters": {
        "jsCode": "// Normalize Twilio WhatsApp payload (robust for n8n Webhook output)\n\nconst payload = $json.body ?? $json;\n\nconst from = payload.From || payload.from || '';\nconst user_phone = from.replace(/whatsapp:/, '');\n\nconst user_name = payload.ProfileName || payload.profileName || 'Unknown';\nconst text = payload.Body || payload.body || '';\nconst media_url = payload.MediaUrl0 || payload.mediaUrl0 || '';\n\nreturn {\n  user_phone,\n  user_name,\n  text,\n  media_url\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        256
      ],
      "id": "eaffe12c-ef85-4a93-8ad8-7900fbc2f53f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "name",
              "lookupValue": "={{ $json.user_name }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        256
      ],
      "id": "5b8cd743-a47b-4543-bf08-3e8b5d8c4752",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQoAjEIcqWC9eVz7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7b8a6851-aad8-4bc6-8fc0-c3a47948cbd2",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "61f86a68-afae-4e59-bae0-3e4fdd885cc6",
              "leftValue": "={{ $json.number }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        256
      ],
      "id": "92b1c670-4fba-4bde-a0b2-0d4f4f895182",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Code in JavaScript').item.json.user_name }}",
            "number": "={{ $('Code in JavaScript').item.json.user_phone }}",
            "state": "AWAITING_DOCUMENTS",
            "media_url": "={{ $('Code in JavaScript').item.json.media_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        352
      ],
      "id": "29ac0e85-97c7-4e81-98bc-19e3ccdc6e43",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQoAjEIcqWC9eVz7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "AWAITING_DOCUMENTS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8fc8559f-7f36-4396-8f66-23a01a6d3473"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38eaf520-4d7e-4362-a1c2-bddb7b603ea3",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "DOCUMENTS_PROCESSING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6b7fb10a-6f80-48a6-bb56-ee0e38938efd",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "PAYMENT_PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8a640c2f-b374-40c3-bb3a-3d75415f995f",
                    "leftValue": "={{ $json.state }}",
                    "rightValue": "VISA_STATUS_AVAILABLE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        -96
      ],
      "id": "84b26faa-2852-494f-b79f-6f618838ab29",
      "name": "Switch"
    },
    {
      "parameters": {
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hii  {{ $('Code in JavaScript').item.json.user_name }}. Thank you for reaching out! 😊 I'm here to assist you with your visa application process. Could you please share your documents (passport, photo, etc.) so we can get started?",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        896,
        160
      ],
      "id": "19f02b2b-7ddd-459d-8633-a99b7d0b5acd",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "WdBjkVEYRTSvCtdZ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "721910e2-7d09-4939-bd9e-d7583091dad1",
              "leftValue": "={{ $('Code in JavaScript').item.json.media_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        -336
      ],
      "id": "a23a0761-7df5-40cc-b09e-a8e536e50ea6",
      "name": "If1"
    },
    {
      "parameters": {
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hii  {{ $('Code in JavaScript').item.json.user_name }}. Thanks for contacting . Please share your travel documents for further process",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1344,
        48
      ],
      "id": "f75b5f0b-0dd9-4442-b2ad-89e1fdda8fc7",
      "name": "Send an SMS/MMS/WhatsApp message1",
      "credentials": {
        "twilioApi": {
          "id": "WdBjkVEYRTSvCtdZ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Code in JavaScript').item.json.media_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twilioApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        -144
      ],
      "id": "c7bc818b-8261-4658-975b-51123a56a484",
      "name": "HTTP Request",
      "credentials": {
        "twilioApi": {
          "id": "WdBjkVEYRTSvCtdZ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Code in JavaScript').item.json.user_name }}",
            "number": "={{ $('Code in JavaScript').item.json.user_phone }}",
            "state": "DCOUMENTS_PROCESSING",
            "media_url": "={{ $('Code in JavaScript').item.json.media_url }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1344,
        -336
      ],
      "id": "c99f656b-ce5a-42a8-b038-aeed46687fb0",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQoAjEIcqWC9eVz7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hii  {{ $('Code in JavaScript').item.json.user_name }}. Thanks for sharing your document . Your Document is under Processing ",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1344,
        -528
      ],
      "id": "32701021-f74c-4c66-a2f7-b5fbbfc60323",
      "name": "Send an SMS/MMS/WhatsApp message2",
      "credentials": {
        "twilioApi": {
          "id": "WdBjkVEYRTSvCtdZ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept ",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LLAMAINDEX_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        -144
      ],
      "id": "9f9e59ed-c3ab-43ca-9a33-79547c9bf07f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1792,
        -144
      ],
      "id": "2573a7f6-d122-492d-b303-a741cd5d16f2",
      "name": "Wait",
      "webhookId": "d9c39ea1-e168-414b-8b28-00e6e7fc0557"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept ",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LLAMAINDEX_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        -208
      ],
      "id": "34f66d72-92f2-4695-9989-2119a7c3ebc9",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2570baf-fa46-44ef-b32c-e80ba98ca281",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        -144
      ],
      "id": "e32f094d-9dd0-4974-8c80-c6b19a0b48b4",
      "name": "If2"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/v1/parsing/job/{{ $json.id }}/result/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept ",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LLAMAINDEX_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2464,
        -144
      ],
      "id": "450a4eb5-8e04-45f9-a19b-fcbf1b924154",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.markdown }}",
        "messages": {
          "messageValues": [
            {
              "message": "Extract the passport number from the markdown and return the value in json format. If passport number is not found you can return any number present "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2688,
        -144
      ],
      "id": "88866305-25e6-45e7-b396-ad53d92a281c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2768,
        80
      ],
      "id": "543394d1-86ac-45ed-9db3-e8b3e6fa90cb",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "5dtiFQfCMMegutqd",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('Code in JavaScript').item.json.user_name }}",
            "number": "={{ $('Code in JavaScript').item.json.user_phone }}",
            "state": "PAYMENT_PENDING",
            "media_url": "={{ $('Code in JavaScript').item.json.media_url }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3040,
        -48
      ],
      "id": "a26543a7-c384-4789-b1f8-31bb6998db98",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQoAjEIcqWC9eVz7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hii  {{ $('Code in JavaScript').item.json.user_name }}. Thanks for reaching out! Your documents are under processing — this usually takes 1–2 working days. We'll update you as soon as it's done",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1120,
        -144
      ],
      "id": "87f9cb89-3755-43bc-992a-d572088f5175",
      "name": "Send an SMS/MMS/WhatsApp message3",
      "credentials": {
        "twilioApi": {
          "id": "WdBjkVEYRTSvCtdZ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hii  {{ $('Code in JavaScript').item.json.user_name }}. Thanks for reaching out! Your payment is currently pending. Please complete the payment to proceed further with your visa application",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1120,
        48
      ],
      "id": "7096fbf9-8277-436b-9190-189064404592",
      "name": "Send an SMS/MMS/WhatsApp message4",
      "credentials": {
        "twilioApi": {
          "id": "WdBjkVEYRTSvCtdZ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Code in JavaScript').item.json.user_phone }}",
        "toWhatsapp": true,
        "message": "=Hii  {{ $('Code in JavaScript').item.json.user_name }}. Thanks for contacting . Happy To share that your visa status is available .You can check at this website \nhttps://ceac.state.gov/ceacstattracker/status.aspx",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ],
      "id": "dbf2e9b8-0450-4824-9324-b284eb96094c",
      "name": "Send an SMS/MMS/WhatsApp message5",
      "credentials": {
        "twilioApi": {
          "id": "WdBjkVEYRTSvCtdZ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=1271890134#gid=1271890134",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": 1271890134
        },
        "event": "rowUpdate",
        "options": {
          "columnsToWatch": [
            "Payment Status"
          ]
        }
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        672
      ],
      "id": "90788b7c-8567-43e9-8c23-a3e054d6f778",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "EeSYQndYnOjxePhX",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "from": "+1XXXXXXXXXX",
        "to": "={{ $json.number }}",
        "toWhatsapp": true,
        "message": "=Great news! 🎉 Your payment has been successfully received. You can check your visa status anytime here: https://ceac.state.gov/ceacstattracker/status.aspx\nThank you for choosing us — we're glad to have assisted you with your visa application!",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        224,
        576
      ],
      "id": "c37507b9-fb37-4c3a-a27d-318aeaa69ada",
      "name": "Send an SMS/MMS/WhatsApp message6",
      "credentials": {
        "twilioApi": {
          "id": "WdBjkVEYRTSvCtdZ",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Users",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ $json.number }}",
            "state": "VISA_STATUS_COMPLETE"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "media_url",
              "displayName": "media_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        768
      ],
      "id": "e425cb19-5f3a-4d89-a753-e656929094f9",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQoAjEIcqWC9eVz7",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?gid=1271890134#gid=1271890134",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Cases",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "number": "={{ $('Code in JavaScript').item.json.user_phone }}",
            "Passport Number": "={{ JSON.parse($json.text.replace(/```json/g, '').replace(/```/g, '').trim()).passport_number }}",
            "Payment Status": "PENDING"
          },
          "matchingColumns": [
            "number"
          ],
          "schema": [
            {
              "id": "number",
              "displayName": "number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Passport Number",
              "displayName": "Passport Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payment Status",
              "displayName": "Payment Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3040,
        -240
      ],
      "id": "59b7bf32-9bd0-4e5b-a0f0-ff7ce8289f46",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lQoAjEIcqWC9eVz7",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7e56372a-b616-4353-95ad-f0e86e813f9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb82b5a7df08d8ac670917aa52f0b5908aa4f3a1f4797f6bb7c8287f765befe8"
  },
  "nodeGroups": [],
  "id": "WdsPN4jSF8dpps9E",
  "tags": []
}